## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.tmp
*.dbmdl
*.exe
*.dll
*.pdb
*.msp
*.nupkg
*.log
*.vsix
*.[Cc]ache
*.DS_Store
[Dd]ebug/
[Rr]elease/
packages/
*.nupkg
[Pp]ublish/

## Rider / JetBrains
.idea/
.vscode/
*.sln.DotSettings.user
*.DotSettings.user
*.DotSettings.user.*
*.sln.docstates
*.ntfs*

## Visual Studio
.vs/
*.sln.ide/

## Node / frontend (if any)
node_modules/

## Secrets
appsettings.*.local.json
appsettings.local.json
secrets.json

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Custom files
learning
